DJANGO_SUPERUSER_USERNAME=hoge
DJANGO_SUPERUSER_EMAIL=hoge@test.com
DJANGO_SUPERUSER_PASSWORD=hogehoge
DJANGO_SECRET_KEY=hogehoge
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
